{% extends "base.html" %}
{% load static %}

{% block content %}

<title>{% block head_title %} {{block.super}} | Contacts {% endblock head_title %} </title>

<div class="container" style="padding-bottom: 50px; padding-left: 0%; padding-right: 0%;">
    <div class="row justify-content-md-center" style="padding-top: 20px;">
        <div class="col-md-auto justify-content-md-center">
        <h5 class="nav-link" style="font-family: 'Alice'">  
            <a class="navbar-brand" href="/">
            <img src="{% static 'imags/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            Ascelpio
        </h5>
        </div>
        <div class="col col-lg-2">
        <a class="nav-link" href="/" style="font-family: 'Alice'">Subjects</a>
        </div>
        <div class="col col-lg-2">
        <a class="nav-link" href="contatti/" style="font-family: 'Alice'">Contact</a>
        </div>
    </div>
</div>


<h1>Contacts</h1>
<h2> Contattaci alla nostra mail ufficiosa </h2>
<center>
    <img src='{% static  "imags/iu.jpeg" %}'/>
</center>



{% endblock content %}