{% extends "base.html" %}
{% load static %}

{% block content %}

<title>{% block head_title %} {{block.super}} | Contacts {% endblock head_title %} </title>

<style>
    html, body{
        background-color: #E8FFF1;
    }

    .masthead {
      margin-bottom: 2rem;
    }

    .masthead-brand {
      margin-bottom: 0;
      font-size: 35px;
    }

    .nav-masthead .nav-link {
      /* padding: .25rem 0; */
      font-weight: 700;
      color: #000000;
      background-color: transparent;
      border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link + .nav-link {
      margin-left: 1rem;
    }

</style>

<div class="text-center" style='height: 20vh;'>
    <div class="cover-container d-flex w-100 h-90 p-2 mx-auto flex-column">
      <header class="masthead mb-auto">
      <div class="inner" style="padding-top: 20px;">
        <h3 class="masthead-brand" style="font-family: 'Alice'">
            <a class="navbar-brand" href="/">
                <img src="{% static 'imags/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
          Ascelpio
        </h3>
          <nav class="nav nav-masthead justify-content-center">
          <a href='/' class="nav-link active" style="font-family: 'Alice'">Materie</a>
          <a class="nav-link" href="/contatti/" style="font-family: 'Alice'">Contattaci</a>
          <a class="nav-link" href="/admin/" style="font-family: 'Alice'">Log-in</a>
          </nav>
      </div>
      </header>
    </div>
</div>


<h1 style="font-family: 'Alice'; color: #235043">Contattaci</h1>
<h3> Contattaci alla nostra mail: <a href='mailto: ascelpio.site@gmail.com?'>ascelpio.site@gmail.com </a> </h3>
<h3> Contattaci direttamente su telegram: <a href='tg://resolve?domain=belligerante'>Giorgio</a> e <a href='tg://resolve?domain=pelle9'>Andrea</a></h3>
<center>
    <img src='{% static  "imags/iu.jpeg" %}'/>
</center>



{% endblock content %}