{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container" style="padding-bottom: 50px; padding-left: 0%; padding-right: 0%;">
    <div class="row justify-content-md-center" style="padding-top: 20px;">
        <div class="col-md-auto justify-content-md-center">
        <h5 class="nav-link" style="font-family: 'Alice'">  
            <a class="navbar-brand" href="/">
            <img src="{% static 'imags/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            Ascelpio
        </h5>
        </div>
        <div class="col col-lg-2">
        <a class="nav-link" href="/" style="font-family: 'Alice'">Subjects</a>
        </div>
        <div class="col col-lg-2">
        <a class="nav-link" href="contatti/" style="font-family: 'Alice'">Contact</a>
        </div>
    </div>
</div>

<h1>{{object.title}}</h1>
<h2> {{object.subject }} </h2>
<h3 class='intestazione'>Testo esercizio:</h3>
<h3> {{object.text | linebreaks}}</h2>

<h4> Dati e svolgimento </h4>
<p>{{object.vars | safe | linebreaks}}</p>
<p>{{object.eqs | safe | linebreaks}}</p>
<p>{{object.comment | safe | linebreaks}}</p>

<h4> Risultato </h4>
<p>{{object.result | safe | linebreaks}}</p>

<p style="font-size: small;">{{object.referance | safe | linebreaks}}</p>

<p style="font-size: small;">Esercizio caricato: {{object.date}}</p>



{% endblock content %}