{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container" style="padding-bottom: 50px; padding-left: 0%; padding-right: 0%;">
    <div class="row justify-content-md-center" style="padding-top: 20px;">
        <div class="col-md-auto justify-content-md-center">
        <h5 class="nav-link" style="font-family: 'Alice'">  
            <a class="navbar-brand" href="/">
            <img src="{% static 'imags/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            Ascelpio
        </h5>
        </div>
        <div class="col col-lg-2">
        <a class="nav-link" href="/" style="font-family: 'Alice'">Subjects</a>
        </div>
        <div class="col col-lg-2">
        <a class="nav-link" href="contatti/" style="font-family: 'Alice'">Contact</a>
        </div>
    </div>
</div>

<h1 style="color: #235043; padding-bottom: 10px; font-family: 'Alice';">{{object.title}}</h1>

<h4 style="color: #568248; padding: 5px; font-family: 'Alice';">Testo esercizio:</h4>
<h3> {{object.text | linebreaks}}</h2>

<h4 style="color: #568248; padding: 5px; font-family: 'Alice';"> Dati e svolgimento </h4>


{% if object.strutture %}
<p>{{object.strutture | safe | linebreaks}}</p> <!-- chimica organica -->
{% endif %}

{% if object.meccanismo %}
<p>{{object.meccanismo | safe | linebreaks}}</p> <!-- chimica organica, se c'è -->
{% endif %}

{% if object.dim %}
<p>{{object.dim | linebreaks }}</p> <!-- matematica -->
{% endif %}

{% if object.grafico %}
<p>{{object.grafico | safe | linebreaks}}</p> <!-- matematica, se c'è -->
{% endif %}

{% if object.sistema %}
<p>{{object.sistema | safe | linebreaks}}</p> <!-- Chimica generale e fisica -->
{% endif %}


<h4 style="color: #568248; padding: 5px; font-family: 'Alice';"> Commenti e risultati </h4>

{% if object.commento %}
<p>{{object.commento | safe | linebreaks}}</p> <!-- non matematica -->
{% endif %}

{% if object.risultato %}
<p>{{object.risultato | safe | linebreaks}}</p> <!-- Chimica generale e fisica -->
{% endif %}

<p style="font-size: small;">Esercizio preso da: {{object.referance | safe}}</p>

<p style="font-size: small;">Esercizio caricato: {{object.date}}</p>



{% endblock content %}